@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap%27');

#tp-03-app, body, html {
	height: 100%;
	background: #000;
}

#tp-03-app {
	max-width: 800px;
	margin: auto;
	display: flex;
	flex-direction: column;
}

#tp-03-app, #tp-03-app * {
	font-family: Special Elite,cursive;
}

#main-header {
	height: 80px;
	padding: 10px;
	background: url(./assets/DS_sun.jpg);
	background-size: cover;
	background-position: 50%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: #fff;
}

#main-wrapper {
	height: 100%;
	margin: 10px 0;
	overflow: hidden;
	background: url(./assets/DS_ashen_one.png);
	background-size: cover;
	background-position: 0 -400px;
	padding: 10px;
	display: flex;
	color: #fff;
}

#main-footer {
	height: 30px;
	background: url(./assets/DS_sun.jpg);
	background-size: cover;
	background-position: bottom;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: .7em;
	color: #fff;
}

#navbar {
	width: 180px;
}

#main-content {
	width: 100%;
	overflow: auto;
	display: block;
	scroll-behavior: smooth;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
	display: block;
}

#header-title {
	font-size: 4em;
	text-shadow: 1px 1px 2px #000;
}

.h1, h1 {
	font-size: 2.5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-bottom: .5rem;
	font-weight: 500;
	line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: .5rem;
}

h1, h2 {
	font-family: Roboto,Helvetica,Arial,sans-serif;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p {
	padding: 0;
}

h6, p {
	font-weight: 400;
	line-height: 24px;
}

p {
	font-size: 14px;
	letter-spacing: 0;
	margin: 0 0 16px;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}