<template>
  <div id="app">
    <Header :user="user"></Header>
    <div style="height: 20px;"></div>
    <UserInformation @update:user="updateUser"></UserInformation>
  </div>
</template>

<script>
import UserInformation from './components/UserInformation.vue'
import Header from './components/Header.vue'
import {User} from "./assets/User";

export default {
  name: 'App',
  components: {
    UserInformation,
    Header
  },
  data(){ return {
    user: new User({country: "France"}),
  }},
  methods: {
    updateUser(newUser){
      this.user = newUser;
    }
  }
}
</script>

<style>
#app {
  height:100%;
  margin:10px;
  font-family:Courier,Avenir,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  color:#2c3e50;
}
</style>