<template>
  <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
    <a href="#" class="navbar-brand">Super site</a>
    <button type="button" aria-label="Toggle navigation" class="navbar-toggler collapsed" aria-expanded="false" aria-controls="nav-collapse" style="overflow-anchor: none;">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="nav-collapse" class="navbar-collapse collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link">{{user.nick}}</a>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'header',
  props: {
    user: Object
  },
}
</script>

<style>
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
.ml-auto, .mx-auto {
    margin-left: auto!important;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.navbar-dark .navbar-toggler {
    color: hsla(0,0%,100%,.5);
    border-color: hsla(0,0%,100%,.1);
}
.navbar-dark .navbar-brand, .navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
    color: #fff !important;
}
.navbar {
    position: relative;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
}
@media (min-width: 576px){
  .navbar-expand-sm {
      flex-flow: row nowrap;
      justify-content: flex-start;
  }
  .navbar-expand-sm .navbar-toggler {
    display: none;
}
}
.bg-dark {
    background-color: #343a40!important;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    font-weight: 500;
}
</style>