<template>
  <div>
    <h1 style="text-align: center;">User Information</h1>
    <div class="main">
      <ex_07_UserForm @check="check" :user="globalUser"></ex_07_UserForm>
      <ex_06_UserCard :nick="globalUser.nick" :firstName="firstName" :lastName="lastName" :address="globalUser.address" :country="globalUser.country" :phone="globalUser.phone"></ex_06_UserCard>
    </div>
    <div class="buttonsGroup">
      <button :disabled="disabled" v-on:click="validate" class="btn-primary btn" data-toggle="modal" data-target="#exampleModal">Enregistrer</button>
      <button class="btn-secondary btn" v-on:click="reset">Reset</button>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Euh...</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>... cette fonctionnalité n'est pas encore implémentée !</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ex_06_UserCard from './UserCard.vue'
import ex_07_UserForm from './UserForm.vue'
import {User} from "../assets/User";

export default {
  name: 'UserInformation',
  components: {
    ex_06_UserCard,
    ex_07_UserForm
  },
  data(){ return {
    globalUser: new User({country: "France"}),
    userBackup: new User({country: "France"}),
    disabled: true
  }},
  methods: {
    check(value){
      this.disabled = value;
    },
    reset(){
      this.globalUser = new User(this.userBackup.clone());
    },
    validate(){
      this.userBackup = this.globalUser.clone();
      this.$emit('update:user', this.globalUser.clone());
    }
  },
  computed: {
    firstName(){
      return this.globalUser.firstName();
    },
    lastName(){
      return this.globalUser.lastName();
    }
  }
}
</script>

<style>
#app {
  height:100%;
  margin:10px;
  font-family:Courier,Avenir,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  color:#2c3e50;
}
.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
.buttonsGroup{
  margin-top: 30px;
  text-align: center;
}
button, input {
  overflow: visible;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn.disabled, .btn:disabled {
  opacity: .65;
  background: #d3d3d3;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  margin-left: 10px;
}
h1, h2 {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 400;
}
</style>
