<template>
    <div>
        <div class="form-group">
            <label>Nick name</label>
            <input v-on:input="check(!(checkNickNameFormat && checkNameFormat && checkPhoneFormat))" v-model="user.nick" class="form-control" :class="{ 'error': !checkNickNameFormat }"/>
            <div v-if="!checkNickNameFormat" class="error-msg">Ne doit pas être vide</div>
        </div>
        <div class="form-group">
            <label>Nom Complet <span style="font-size: 0.85em;">(sera re-formaté)</span></label>
            <input v-on:input="check(!(checkNickNameFormat && checkNameFormat && checkPhoneFormat))" v-model="user.fullname" class="form-control" :class="{ 'error': !checkNameFormat }"/>
            <div v-if="!checkNameFormat" class="error-msg">Format : "prénom nom"</div>
        </div>
        <div class="form-group">
            <label>Adresse</label>
            <input v-on:input="check(!(checkNickNameFormat && checkNameFormat && checkPhoneFormat))" v-model="user.address" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Pays</label>
            <input v-on:input="check(!(checkNickNameFormat && checkNameFormat && checkPhoneFormat))" disabled="disabled" v-model="user.country" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Téléphone</label>
            <input v-on:input="check(!(checkNickNameFormat && checkNameFormat && checkPhoneFormat))" v-model="user.phone" class="form-control" :class="{ 'error': !checkPhoneFormat }"/>
            <div v-if="!checkPhoneFormat" class="error-msg">Doit comporter 9 chiffres</div>
        </div>
  </div>
</template>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script>
export default {
  name: 'ex_07_UserForm',
  props: {
    user: Object
  },
  data(){ return {
    name:'',
    RGEX: /^[a-zA-Z]+([- ]+[a-zA-Z]+)+$/
  }},
  methods: {
    check: function (value) {
      this.$emit('check', value);
    }
  },
  computed: {
    checkNickNameFormat(){
      if(this.user.nick.length > 0)
        return true;
      else
        return false;
    },
    checkNameFormat(){
      this.user.fullname = this.user.fullname.trimLeft();
      return this.RGEX.test(this.user.fullname);
    },
    checkPhoneFormat(){
      if(this.user.phone.length == 9)
        return true;
      else
        return false;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.form-group {
    margin-bottom: 1.5em;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}
input {
    overflow: visible;
}
.error {
    background: #ffb6c1;
}
.error-msg {
    position: absolute;
    font-size: .8em;
    color: red;
}
input {
    position: relative;
}
.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}
</style>