<template>
  <div id="app">
    <h1>Countries Codes</h1>
    <div class="countries-list" v-for="(item, i) in countries" :key="i" align-center cols="12" row wrap>
      <ex_08_Country :country="item"></ex_08_Country>
    </div>
  </div>
</template>

<script>
import ex_08_Country from './components/ex_08_Country.vue'
import {countries} from "./assets/sample_countries";
export default {
  name: 'App',
  components: {
    ex_08_Country
  },
  data(){ return {
    countries: countries
  }}
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.countries-list {
  width: 350px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: normal;
}
</style>
