<template>
  <div>
    <div class="mdl-card mdl-shadow--3dp post-it" :style="'background: '+ bg">
      <div class="mdl-card__title mdl-card--expand">
        <slot></slot>
      </div>
      <div class="mdl-card__actions mdl-card--border"
           style="background: white ; font-size: 0.8em ; text-align: center">
        Il y a {{ nbTasks }} tache<span v-if="nbTasks>1">s</span>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: "PostIt",
  props:{
    bg: String
  },
  data(){return {
    nbTasks: 0,
  }},
  mounted() { // déclenchement une fois le composant "monté"
    let monElement = this.$el // permet de récupérer l'élément HTML du composant
    // calcul dynamique du nombres de tâches
    this.nbTasks = monElement.getElementsByTagName('li').length
  }
}
</script>

<style scoped>
.post-it{
  width: 200px;
  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
</style>