<template>
  <div>
    <post-it bg="lightpink">
      TP FWF à rendre ! <!-- contenu inséré dans le template du composant -->
    </post-it>
    <post-it bg="yellow">
      <!-- contenu inséré dans le template du composant -->
      <h4>Courses :</h4>
      <ul>
        <li>poulet</li>
        <li>maroilles</li>
        <li>crème fraiche</li>
        <li>frites au four</li>
      </ul>
    </post-it>
    <post-it bg="lightblue">
      Anniv Greg <!-- contenu inséré dans le template du composant -->
    </post-it>
  </div>
</template>

<script>
import PostIt from "./PostIt.vue";
export default {
  name: "smpl_06_App_slots",
  components:{
    PostIt
  },
  data(){ return {
  }},
}
</script>
<style>
div {
  display: flex;
}
</style>
