<template>
  <div id="app">
    <post-it-v2 bg="yellow">
      <ul>
        <li>truc à faire</li>
        <li>truc à faire</li>
        <li>truc à faire</li>
      </ul>
    </post-it-v2>
    <post-it-v2 bg="lightpink">
      <ul>
        <li>quelque chose</li>
        <li>quelque chose</li>
      </ul>
    </post-it-v2>
    <post-it-v2 bg="lightblue">
      <ul>
        <li>juste ça</li>
      </ul>
    </post-it-v2>
  </div>
</template>

<script>
import PostIt_V2 from "./PostIt_V2.vue";

export default {
  name: "smpl_07_App_lifecycle",
  components:{
    postItV2 : PostIt_V2
  },
  data(){ return {
  }},
}
</script>

<style>
#app{
  display: flex;
}
.post-it{
  margin: 5px;
}
</style>