<template>
  <div>
    <div>
      <input type="text" class="input-sm" v-model="name" placeholder="Entrez votre nom">
    </div>
    <b-card class="main_background" style="max-width: 600px;">
      <b-card-title>
        <div v-if="name!=''">
          <h4>{{name}}</h4>
          <h3>
            <p>Nickname : {{name}} The Terrible</p>
            <p>Mail : {{name}}@truc.fr</p>
          </h3>
        </div>
      </b-card-title>
      <b-card-footer class="footer_background">
        <span v-if="name!=''" >Fiche de {{name}}</span>
        <span v-else>Fiche de ???</span>
      </b-card-footer>
    </b-card>
  </div>
</template>

<script>
export default {
  name: "ex_01",
  data(){ return{
    name: ''
  }}
}
</script>

<style scoped>
.main_background{
  background: linear-gradient(45deg, rgb(255, 255, 255), rgb(96, 125, 139)) !important;
  margin: 10px 0px !important;
}

.footer_background{
  background: white !important;
}
</style>