<template>
	<div id="app">
		<home></home>
	</div>
</template>

<script>
	import home from "@/components/Home.vue";

	export default {
		name: 'App',
		components: {
			home
		}
	}
</script>

<style>
	#app {
		height: 100%;
		margin: 0;
		font-family: Courier,Avenir,Helvetica,Arial,sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: #2c3e50;
		background-color: black;
	}

	body {
		margin: 0;
		font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		color: #212529;
		text-align: left;
		background-color: #fff;
	}

	html {
		font-family: sans-serif;
		line-height: 1.15;
		-webkit-text-size-adjust: 100%;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		scroll-behavior: smooth;
	}

	#tp-03-app, body, html {
		height: 100%;
		background: #000;
	}

	button {
		appearance: auto;
		-webkit-writing-mode: horizontal-tb !important;
		font-style: ;
		font-variant-ligatures: ;
		font-variant-caps: ;
		font-variant-numeric: ;
		font-variant-east-asian: ;
		font-weight: ;
		font-stretch: ;
		font-size: ;
		font-family: ;
		text-rendering: auto;
		color: -internal-light-dark(black, white);
		letter-spacing: normal;
		word-spacing: normal;
		line-height: normal;
		text-transform: none;
		text-indent: 0px;
		text-shadow: none;
		display: inline-block;
		text-align: center;
		align-items: flex-start;
		cursor: default;
		box-sizing: border-box;
		background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
		margin: 0em;
		padding: 1px 6px;
		border-width: 2px;
		border-style: outset;
		border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
		border-image: initial;
	}

	.btn {
		display: inline-block;
		font-weight: 400;
		color: #212529;
		text-align: center;
		vertical-align: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-color: transparent;
		border: 1px solid transparent;
		padding: .375rem .75rem;
		font-size: 1rem;
		line-height: 1.5;
		border-radius: .25rem;
		transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	}

	.btn-secondary {
		color: #fff;
		background-color: #6c757d;
		border-color: #6c757d;
	}

	.btn-group-sm>.btn, .btn-sm {
		padding: .25rem .5rem;
		font-size: .875rem;
		line-height: 1.5;
		border-radius: .2rem;
	}

	[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
		cursor: pointer;
	}

	.btn:hover {
		color: #212529;
		text-decoration: none;
	}

	.btn-secondary.focus, .btn-secondary:focus, .btn-secondary:hover {
		color: #fff;
		background-color: #5a6268;
		border-color: #545b62;
	}

	.btn:not(:disabled):not(.disabled) {
		cursor: pointer;
	}

	.btn-secondary.focus, .btn-secondary:focus, .btn-secondary:hover {
		color: #fff;
		background-color: #5a6268;
		border-color: #545b62;
	}

	#tp-03-app, #tp-03-app * {
		font-family: Special Elite,cursive;
	}

	*, :after, :before {
		box-sizing: border-box;
	}
</style>