<template>
  <div id="app">
    <div class="main">
      <h1>User Information</h1>
      <div class="container">
        <ex_07_UserForm :user="globalUser"></ex_07_UserForm>
        <ex_06_UserCard :nick="globalUser.nick" :firstName="firstName" :lastName="lastName" :address="globalUser.address" :country="globalUser.country" :phone="globalUser.phone"></ex_06_UserCard>
      </div>
    </div>
  </div>
</template>

<script>
import ex_06_UserCard from './components/ex_06_UserCard.vue'
import ex_07_UserForm from './components/ex_07_UserForm.vue'
import {User} from "./assets/User";

export default {
  name: 'App',
  components: {
    ex_06_UserCard,
    ex_07_UserForm
  },
  data(){ return {
    globalUser: new User({country: "France"})
  }},
  computed: {
    firstName(){
      return this.globalUser.firstName();
    },
    lastName(){
      return this.globalUser.lastName();
    }
  }
}
</script>

<style>
#app {
  height:100%;
  margin:10px;
  font-family:Courier,Avenir,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  color:#2c3e50;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
</style>
