<template src='../../public/template.html'></template>

<script>
  import spoiler from "./Spoiler.vue";
  import navItem from "./NavItem.vue";

  export default {
    name: 'home',
    components: {
      spoiler,
      'nav-item': navItem
    },
    data() {
      return {
        items: [
          {
            innerHTML: '',
            href: ''
          },
        ]
      }
    },
    mounted () {
      let itemList = this.$el.getElementsByTagName('article')
      for( let i = 0 ; i < itemList.length ; i++) {
        this.items.push({innerHTML: itemList[i].firstChild.innerHTML, href: '#' + itemList[i].id})
      }
    },
    computed: {
      titles: function () {
        return this.items;
      }
    }
  }
</script>

<style scoped src="../../public/style.css"></style>