<template>
  <a class="navItem"><slot></slot></a>
</template>

<script>
  export default {name: 'nav-item'}
</script>

<style scoped>
  .navItem {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2em;
  }

  a{
    text-decoration: none;
    background-color: transparent;
    font-weight: 500;
    color: white;
  }
</style>