<template>
  <div class="spoiler">
    <button v-if="!spoiler" type="button" class="btn btn-secondary btn-sm" v-on:click="spoil">spoiler</button>
    <span v-if="spoiler"><slot></slot></span>
  </div>
</template>

<script>
  export default {
    name: 'spoiler',
    data(){ return {
      spoiler: false
    }},
    methods: {
      spoil(){
        this.spoiler = true;
      }
    }
  }
</script>

<style scoped>
  .spoiler {
    display: inline-block;
  }
</style>