<template>
  <div class="cardContainer">
    <div class="mdl-shadow--3dp user-card">
      <div class="cardTitle">
        <div>
          <img src="../assets/icon.png">
        </div>
        <div class="spacer"></div>
        <div class="info">
          <div>
            <span class="pseudo">{{nick}}</span>
          </div>
          <div>
            <span>{{firstName}} {{lastName}}</span>
            <span></span>
          </div>
        </div>
      </div>
      <div class="details">
        <div>{{address}}
          <br>
          <span>{{country}}</span>
        </div>
        <div v-if="phone!=''">{{phone}}</div>
      </div>
    </div>
  </div>

</template>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script>
export default {
  name: 'ex_06_UserCard',
  props: {
    nick: '',
    firstName: '',
    lastName: '',
    address: '',
    country: '',
    phone: ''
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.cardContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mdl-shadow--3dp {
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);
}
.user-card {
  min-width: 400px;
  max-width: 450px;
  min-height: 180px;
  border: 1px solid #d3d3d3;
  background: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-size: 1.5em;
}
.cardTitle{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.spacer{
  flex: 1 1 0%;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: .9em;
}
.pseudo {
  font-weight: 700;
}
.details {
  margin: 3px 10px;
  font-size: .8em;
}
</style>