<template>
  <div id="app">
    <h1>User Information</h1>
    <ex_06_UserCard :nick="user.nick" :firstName="firstName" :lastName="lastName" :address="user.address" :country="user.country" :phone="user.phone"/>
  </div>
</template>

<script>
import ex_06_UserCard from './components/ex_06_UserCard.vue'
import {User} from './assets/User.js';
export default {
  name: 'App',
  components: {
    ex_06_UserCard
  },
  data(){ return {
    user: new User({nick:"nickName", fullname:"Arthur Ringot", address:"address", country:"France", phone:"phone"})
  }},
  computed: {
    firstName(){
      return this.user.firstName();
    },
    lastName(){
      return this.user.lastName();
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
