<template>
  <div id="app">
    <TestComposant></TestComposant>
    <hr>
    <ex_01></ex_01>
  </div>
</template>

<script>
import TestComposant from './components/TestComposant.vue'
import ex_01 from './components/ex_01.vue'

export default {
  name: 'App',
  components: {
    TestComposant,
    ex_01
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
