<template>
  <div class="mdl-shadow--3dp country-card">
    <div class="container">
      <div class="icon">
        <img viewBox="0 0 16 16" fill="currentColor" src="../assets/globe2.svg"/>
      </div>
      <div>
        <div class="country-name">{{country.name}}</div>
        <div>Calling Code : {{country.callingCodes[0]}}</div>
      </div>
      <div class="icon"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ex_08_Country',
  props: {
    country: Object
  }
}
</script>

<style scoped>
.country-card {
  height: 5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}
.mdl-shadow--3dp {
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);
}
.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img {
  overflow: hidden;
  vertical-align: middle;
  width: 2em;
  height: 2em;
}
.country-name {
  font-weight: 700;
  font-size: 1.2em;
}
.icon {
  padding: 0 10px;
  width: 2em;
  height: 2em;
}
</style>
