<template>
  <div id="app">
    <smpl_07_App_lifecycle/>
  </div>
</template>

<script>
import smpl_07_App_lifecycle from './components/smpl_07_App_lifecycle.vue'

export default {
  name: 'App',
  components: {
    smpl_07_App_lifecycle
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  display: flex;
}
</style>
